
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: 'Montserrat', sans-serif;
}

/* MAIN */

section .main-alignment{
    display: flex;

}

.nav-menu{
    background-color: lightcoral;
    height: 90vh;
    width: 15%;
}

.main-section{
    background-color: #141922;
    height: 90vh;
    width: 85%;
    color: white;
    overflow-y: auto;
    display: flex;
    padding-top: 10vh;
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 10vh;
    color: white;
}

.homepage{
    width: 100%;
}
/* FOOTER */

.player{
    background-color: lightblue;
    height: 10vh;
}