
/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */

body{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */

ul{
    list-style-type: none;
    padding-top: 1rem;
}

li{
    vertical-align: middle;
    padding: 0.2rem 0;
}

a{
    color: #5b5b5b;
    text-decoration: none;
}

/* MAIN */

section .main-alignment{
    display: flex;

}

/* NAV */

.nav-menu{
    background-color: lightcoral;
    height: 90vh;
    width: 288px;
}

.nav-container{
    width: 85%;
    height: 100%;
    margin: 0 auto;
}

.logo-container{
    
}

.menu-container{

}

.playlists-container{
    flex-grow: 1;
}

.profile-container{
    margin-bottom: 1rem;
}

.flex-nav{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.logo{
    height: 50px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.icons{
    height: 25px;
    vertical-align: middle;
}

.playlist-section{
    margin-top: 1rem;
}

.playlist{
    color: white;
    font-size: 14px;

}

.add-playlist{
    font-size: 30px;
    filter: invert(1);
    vertical-align: middle;
}

.add-playlist-text{
    vertical-align: middle;
}

.profile{
    margin-top: 1rem;
}

.profile-icon{
    height: 25px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
}

.profile-name{
    font-weight: bold;
    vertical-align: middle;
    color: white;
}

.selected-home{
    border-left: 3px solid green;
    position: absolute;
    line-height: 25px;
    top: 90px;
    left: 0;
    width: 2px;
}

.main-section{
    background-color: #141922;
    height: 90vh;
    width: 85%;
    color: white;
    overflow-y: auto;
    display: flex;
    padding-top: 10vh;
}

.upgrade{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    height: 10vh;
    color: white;
}

.homepage{
    width: 100%;
}
/* FOOTER */

.player{
    background-color: lightblue;
    height: 10vh;
}